.editable-JSON-indent {
  margin-left: 1.2em;	
}

.editable-JSON {
  color: #ccc;
}

.editable-JSON, .editable-JSON-input {
  font-family: Courier, Lucidatypewriter, Fixed, monospace;
  font-size: 14px;
}

.editable-JSON-input {
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition:  ease 0.2s;
  transition: ease 0.2s;
}

.editable-JSON-field {
  color: #F92772;	
}

.editable-JSON-string {
  color: #A6E22D;	
}

.editable-JSON-boolean {
  color: #66D9EF;
  cursor: pointer;
}

.editable-JSON-date {

}

.editable-JSON-number {
  color: #E6DB74;	
}

.editable-JSON input {
  max-width: 160px;
  background: rgba(128,128,128,.1);
  border: 0;
  color: inherit;
  padding: 0;
  margin: 0;
  font-size:14px;
}

.editable-JSON input::selection {
  background:#955;
}

.editable-JSON input::-moz-selection {
  background:#955;
}

.editable-JSON-field input {
  width: 80px;	
}

.editable-JSON-_id-field, .editable-JSON-_id-value {
  opacity: 0.5;
}